.btn {
  width: 150px;
  margin-bottom: $m-1;
  padding: $p-0-5;

  font-size: $font-12;
  font-weight: $font-w-500;
  color: $color-label;

  &:hover {
    background-color: $color-white;
    color: $color-black;
    text-transform: uppercase;
    font-size: $font-10;
    border-bottom: 1px solid;
  }

  &__up {
    position: fixed;
    right: 5px; 
    bottom: 0;
    z-index: 5;

    width: 40px;
    border: 1px solid $color-black;
    border-radius: 50%;
    background-color: $color-gray-light;

    text-align: center;

    &_arrow {
      width: 70%;
    }

    &_hide {
      display: none;
    }
  }
}