.catalog {
  display: flex;
  justify-content: space-between;

  margin-bottom: $m-5;

  &__description {
    display: inline-block;

    margin-left: $m-6;

    font-size: $font-15;
    font-weight: $font-w-500;
    }
}

  .section-news2 {
    &__subtitle {
      margin: $m-3 0;
      text-align: center;
    }
}

.filter {
  margin-right: $m-1-5;
  
  &-block {
    margin-bottom: $m-2;
      
    &__description {
      margin-left: $m-0-5;
      text-decoration: none;

      color: $color-product;
    }

    &__subtitle {
      display: inline-block;
      border: 1px solid $color-black;
      border-radius: 5px;

      padding: $p-0-5;
      font-size: $font-15;
      font-weight: $font-w-400;
    }

    &__margin {
      margin-bottom: $m-0-5;
    }
  }
}

.block-product {
  margin-right: $m-0-5;
}

.align {
  position: relative;
  left: 75px;
}

.select {
  display: inline-block;

  margin-right: $m-6;
}

.filter__block {
  display: none;
}

#price {
  appearance: none;

  margin-top: $m-1-5;
  
  width: 150px;
  height: 5px;
  border-radius: 10px;
  background: $color-gray;

  &::-webkit-slider-thumb {
    appearance: none;

    width: 17px;
    height: 17px;
    border-radius: 50%;

    background: $color-label;
    border: 1px solid $color-label;
  }
}