html, body {
  box-sizing: border-box;
  
  font-family: $font-family;
  font-size: $font-12;
}

.container {
  @include container(); 
}

.lists {
  @include flex();

  padding: 0 $p-0-5;
}

.list {
  list-style: none;

  &:hover {
    transform: scale(1.1);
  }
}

.link {
  @include transition;


  text-decoration: none;
  font-size: $font-13;
  color: $color-black;
  font-weight: $font-w-600;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  
    box-shadow: 0 5px 10px rgba(22, 6, 32, 0.4);
    background-color: $color-beige;
    color: $color-black;
  }
}

.title {
  margin-bottom: $m-4;

  font-size: $font-30;
  font-weight: $font-w-600;
  text-transform: uppercase;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

span {
  margin-left: $m-1;
  
  text-decoration: line-through;
  color: $color-product;
}

legend {
  margin-bottom: $m-0-5;
  padding: $p-1 0;

  font-size: $font-15;
  font-weight: $font-w-600;
}

label {
  font-size: $font-12;
  font-weight: $font-w-500;
  color: $color-label;

}

input {
  padding: $p-0-5 0;
}

.select {
  margin-bottom: $m-1;
  
}

select {
  border: none;
  border-bottom: 1px solid $color-black;
}

.block2 {
  padding-bottom: $p-2;
  text-align: end;

  img {
    padding-left: $p-1;
  }
}

form {
  width: 30%;
  margin: $m-4 auto;
  padding: $p-1;

  &-group {
    padding: $p-6;
  }
}

.modal {
  
  &-title {
    font-size: $font-15;
    font-weight: $font-w-500;
    text-decoration: underline;
  }

  &-description {
    font-size: $font-13;
    line-height: 1.6;
    text-align: center;
  }
}




