.footer {
  height: 150px;
  background-color: $color-black;

  &__block {
    @include flex();

    padding: $p-2;
  }
}

.header {
  &__link {
    @include transition();
    
    padding-left: $p-1;
  }
}