.call {
  position: fixed;
  left: 5px;
  bottom: 10px;
  z-index: 5;
  background-color: $color-gray-light;

  border: 1px solid $color-black;
  border-radius: 5px;
  padding: $p-0-5;

  text-align: center;

  &__img {
    width: 30px;
    height: 30px;
  }

  &__description {
    font-size: $font-10;
  }
}

.block {
  display: block;
  padding: $p-1-5;

  text-align: center;
}
// С нами сотрудничают
.section-2 {
  margin: $m-5 auto;
  
}
// Заключите договор
.section-3 {
  margin-bottom: $m-5;

  text-align: center;

  &__block {
    display: inline-block;

    padding: $p-2;
  }

  &__description {
    padding: $p-1-5;
    color: $color-section3;
    font-size: $font-22;
    font-weight: $font-w-500;
  }
}
// Производство
.section-4 {
  margin-bottom: $m-5;
  text-align: center;
  &__description {
    margin-bottom: $m-1;
    padding: $p-0-5;

    font-size: $font-20;
    font-weight: $font-w-300;
    line-height: 120%;
  }

  &__image {
   width: 100%; 
  }
}
// Новинки
.section-5 {
  &__image {
    width: 100%;
  }

  &__description {
    position: relative;
    bottom: 350px;
    left: 870px;
    width: 490px;
    
    padding: $p-1;
    font-size: $font-30;
    font-weight: $font-w-400;
    color: $color-white;
    line-height: 110%;
  }
}

// Каталог
.section-6 {
  margin-bottom: $m-5;
 
  &__link {
    width: 250px;
    height: 40px;
    margin: $m-2 auto;
    border-radius: 6px;

    background-color: $color-black;
    font-size: $font-10;
    font-weight: $font-w-600;
    text-transform: uppercase;
    text-align: center;
    
    &:hover {
      animation-name: link;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;
    }

    &_view {
      @include transition();
      position: relative;
      top: 15px;
      color: $color-white;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, [col] 1fr) ;
  grid-template-rows: repeat(3, [row] 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;

  &__description {
    font-size: $font-20;
    font-weight: $font-w-500;

    &_2 {
      display: inline-block;
      @include transition();

      margin-bottom: $m-0-5;
      padding: $p-0-5;
      border-radius: 3px;
      background-color: $color-black;
      color: $color-white;

      font-size: $font-13;
      font-weight: $font-w-400;
      text-decoration: none;

      &:hover {
        background-color: $color-white;
        color: $color-black;
        text-decoration: none;
      }
    }
  }

  &__image {
    width: 100%;
    height: 80%;
    object-fit: contain;
  }

  &-block { 
    padding: $p-1-5;
    border: 2px solid $color-gray;
    border-radius: 5px;
    background-color: $color-gray; 
  }

  &__block1 {
    grid-column: col 1 / col 3;
    grid-row: row 1 / row 3;
  }

  &__block5 {
    grid-column: col 3 / col 5;
    grid-row: row 2 / row 3;
  }
}

// Адрес
.section-7 {
  margin-bottom: $m-5;
    text-align: center;

    .link {
      padding: 0 $p-1;
    }

  &__block {
    position: relative;
    top: 70px;
    left: 50px;

    width: 330px;
    height: 450px;
    border-radius: 10px;
    background-color: $color-black;

    text-align: left;
  }

  &__subtitle {
    padding: $p-3 $p-1;
    font-size: $font-22;
    font-weight: $font-w-500;
    color: $color-white;
  }

  &__image {
    margin-top: $m-2;
    background-image: url('../img/map.png');
    background-position: 50% 50%;
    height: 600px;
  }

  &__list {
    padding: $p-1;

    list-style: none;
    color: $color-white;
    font-size: $font-14;
  }
}

// Новости
.section-8 {
  margin-bottom: $m-5;

  text-align: right;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr) ;
  grid-template-rows: repeat(2, [row] 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__description {
    @include transition;

    padding: $p-0-5 0;

    font-size: $font-13;
    font-weight: $font-w-500;
    color: $color-black;
    line-height: 120%;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $color-black;
      text-decoration: none;  
    }
  }

  &__block {
    padding: $p-2 0;
    text-align: left;

  &_1 {
    grid-column: col 1 / col 3;
    grid-row: row 1 / row 3;
  }

  &_2 {
    grid-column: col 3 / col 4;
    grid-row: row 1 / row 2;
  }

  &_3 {
    grid-column: col 4 / col 5;
    grid-row: row 1 / row 2;
  }

  &_4 {
    grid-column: col 3 / col 4;
    grid-row: row 2 / row 3;
  }

  &_5 {
    grid-column: col 4 / col 5;
    grid-row: row 2 / row 3;
  }
}
}



