.swiper {
  width: 100%;
  height: auto;

  margin-bottom: $m-4;
  padding: $p-1 0;

  
  &-button-prev,
  &-button-next {
    color: $color-gray;
  }
}

.button-prev,
.button-next {
  color: $color-white;
}

.swiper-scrollbar-drag {
  background: rgba(0,0,0,.3);
}

// Section-1
.slider-block {
  &__1 {
    background-color: $color-beige;
    height: 800px;
    text-align: center;
  }

  &__image {
    height: 100%;
  }

  &__title{
    position: relative;
    bottom: 500px;
    left: 400px;

    font-size: $font-34;
    font-weight: $font-w-300;  
  }

  &__link {
    @include transition;
    
    position: relative;
    bottom: 470px;
    left: 1100px;

    display: block;
    width: 150px;
    height: 48px;
    border-radius: 5px;
    padding: $p-1-5;

    background-color: $color-black;
    color: $color-white;
    text-decoration: none;

    &:hover {
      transform: translateY(5px) scale(1.1);

      color: $color-white;
      text-decoration: none;
    }
  }

  &__2 {
    width: 240px;
    height: 150px;
    padding-top: $p-1-5;

    background-color: $color-gray-light;

    text-align: center;
  }

  &__5 {
    width: 300px;
    height: 440px;
    padding-top: $p-1-5;

    background-color: $color-gray-light;

    text-align: center;
  }
}
// С нами сотрудничают
.block-2 {
  @include flex();

  margin-bottom: $m-1;

  &__image {
    width: 90%;
  }
}

// Новинки
.block-5 {
  @include flex();
  padding: 0 $p-1;

  &__subtitle {
    display: inline-block;
    margin-bottom: $m-1;
    margin-left: $m-0-5;
    padding: $p-0-5;
   
    width: 80px;
    height: 20px;
    background-color: $color-black;
    
    font-size: $font-10;
    font-weight: $font-w-600;
    color: $color-white;
    text-transform: uppercase; 
  }
  
  &__image {
    width: 70%;
  }
  
  &__description {
    padding: $p-2;

    font-size: $font-18;
    font-weight: $font-w-500;
    text-align: left;

    &_ingredients {
      padding: $p-0-5 $p-2;

      font-size: $font-12;
      font-weight: $font-w-400;
      text-align: left;
      color: $color-ingredients;
    }
  }
}

