// COLOR
$color-white: white;
$color-black: black;
$color-gray: #F1F1F1;
$color-gray-light: #F3F3F3;
$color-beige: #E0DBD8;
$color-ingredients: #9A9A9A;
$color-section3: #BFBFBF;
$color-product: #989898;



// FONT-SIZE
$font-10: 10px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-27: 27px;
$font-30: 30px;
$font-34: 34px;
$font-38: 38px;


// FONT-WEIGHT
$font-w-100: 100;
$font-w-200: 200;
$font-w-300: 300;
$font-w-400: 400;
$font-w-500: 500;
$font-w-600: 600;
$font-w-700: 700;
$font-w-800: 800;
$font-w-900: 900;

// FONT-FAMILY
$font-family: 'Inter', sans-serif;

// PADDING
$p-0: 0;
$p-0-5: .5rem;
$p-1: 1rem;
$p-1-5: 1.5rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;

// MARGIN
$m-0: 0;
$m-0-5: .5rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;