@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html, body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;
}

.list {
  list-style: none;
}
.list:hover {
  transform: scale(1.1);
}

.link {
  transition: all 0.3s;
  text-decoration: none;
  font-size: 13px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(22, 6, 32, 0.4);
  background-color: #E0DBD8;
  color: black;
}

.title {
  margin-bottom: 4rem;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

span {
  margin-left: 1rem;
  text-decoration: line-through;
  color: #989898;
}

legend {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  font-size: 15px;
  font-weight: 600;
}

label {
  padding-bottom: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  color: #787878;
}

input {
  padding: 0.5rem 0;
}

.select {
  margin-bottom: 1rem;
}

select {
  border: none;
  border-bottom: 1px solid black;
}

.block2 {
  padding-bottom: 2rem;
  padding-right: 0.5rem;
  text-align: end;
}
.block2 img {
  padding-left: 1rem;
}

form {
  width: 30%;
  margin: 4rem auto;
  padding: 1rem;
}
form-group {
  padding: 6rem;
}

.modal-title {
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
}
.modal-description {
  font-size: 13px;
  line-height: 1.6;
  text-align: center;
}

.menu {
  display: none;
}

.btn {
  width: 150px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  color: #787878;
}
.btn:hover {
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  border-bottom: 1px solid;
}
.btn__up {
  position: fixed;
  right: 5px;
  bottom: 0;
  z-index: 5;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #F3F3F3;
  text-align: center;
}
.btn__up_arrow {
  width: 70%;
}
.btn__up_hide {
  display: none;
}

.swiper {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  padding: 1rem 0;
}
.swiper-button-prev, .swiper-button-next {
  color: #F1F1F1;
}

.button-prev,
.button-next {
  color: white;
}

.swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 0.3);
}

.slider-block__1 {
  background-color: #E0DBD8;
  height: 800px;
  text-align: center;
}
.slider-block__image {
  height: 100%;
}
.slider-block__title {
  position: relative;
  bottom: 500px;
  left: 400px;
  font-size: 34px;
  font-weight: 300;
}
.slider-block__link {
  transition: all 0.3s;
  position: relative;
  bottom: 470px;
  left: 1100px;
  display: block;
  width: 150px;
  height: 48px;
  border-radius: 5px;
  padding: 1.5rem;
  background-color: black;
  color: white;
  text-decoration: none;
}
.slider-block__link:hover {
  transform: translateY(5px) scale(1.1);
  color: white;
  text-decoration: none;
}
.slider-block__2 {
  width: 240px;
  height: 150px;
  padding-top: 1.5rem;
  background-color: #F3F3F3;
  text-align: center;
}
.slider-block__5 {
  width: 300px;
  height: 440px;
  padding-top: 1.5rem;
  background-color: #F3F3F3;
  text-align: center;
}

.block-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.block-2__image {
  width: 90%;
}

.block-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.block-5__subtitle {
  display: inline-block;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
  width: 80px;
  height: 20px;
  background-color: black;
  font-size: 10px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.block-5__image {
  width: 70%;
}
.block-5__description {
  padding: 2rem;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.block-5__description_ingredients {
  padding: 0.5rem 2rem;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #9A9A9A;
}

.navbar__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar__list {
  list-style: none;
}
.navbar__list:hover {
  transition: all 0.3s;
  transform: translateY(-3px);
  filter: blur(0.5px);
}
.navbar__link {
  padding: 0 1rem;
  text-decoration: none;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.navbar__link:hover {
  transition: all 0.3s;
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  height: 35px;
  background-color: black;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__description {
  padding: 0 0.5rem;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}
.header__link {
  text-decoration: none;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.header__link:hover {
  transition: all 0.3s;
  transform: translateY(-3px);
  filter: blur(0.5px);
  text-decoration: none;
  color: white;
}

.call {
  position: fixed;
  left: 5px;
  bottom: 10px;
  z-index: 5;
  background-color: #F3F3F3;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}
.call__img {
  width: 30px;
  height: 30px;
}
.call__description {
  font-size: 10px;
}

.block {
  display: block;
  padding: 1.5rem;
  text-align: center;
}

.section-2 {
  margin: 5rem auto;
}

.section-3 {
  margin-bottom: 5rem;
  text-align: center;
}
.section-3__block {
  display: inline-block;
  padding: 2rem;
}
.section-3__description {
  padding: 1.5rem;
  color: #BFBFBF;
  font-size: 22px;
  font-weight: 500;
}

.section-4 {
  margin-bottom: 5rem;
  text-align: center;
}
.section-4__description {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
}
.section-4__image {
  width: 100%;
}

.section-5__image {
  width: 100%;
}
.section-5__description {
  position: relative;
  bottom: 350px;
  left: 870px;
  width: 490px;
  padding: 1rem;
  font-size: 30px;
  font-weight: 400;
  color: white;
  line-height: 110%;
}

.section-6 {
  margin-bottom: 5rem;
}
.section-6__link {
  width: 250px;
  height: 40px;
  margin: 2rem auto;
  border-radius: 6px;
  background-color: black;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.section-6__link:hover {
  animation-name: link;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.section-6__link_view {
  transition: all 0.3s;
  position: relative;
  top: 15px;
  color: white;
  text-decoration: none;
}
.section-6__link_view:hover {
  text-decoration: none;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, [col] 1fr);
  grid-template-rows: repeat(3, [row] 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}
.grid__description {
  font-size: 20px;
  font-weight: 500;
}
.grid__description_2 {
  display: inline-block;
  transition: all 0.3s;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}
.grid__description_2:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
.grid__image {
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
.grid-block {
  padding: 1.5rem;
  border: 2px solid #F1F1F1;
  border-radius: 5px;
  background-color: #F1F1F1;
}
.grid__block1 {
  grid-column: col 1/col 3;
  grid-row: row 1/row 3;
}
.grid__block5 {
  grid-column: col 3/col 5;
  grid-row: row 2/row 3;
}

.section-7 {
  margin-bottom: 5rem;
  text-align: center;
}
.section-7 .link {
  padding: 0 1rem;
}
.section-7__block {
  position: relative;
  top: 70px;
  left: 50px;
  width: 330px;
  height: 450px;
  border-radius: 10px;
  background-color: black;
  text-align: left;
}
.section-7__subtitle {
  padding: 3rem 1rem;
  font-size: 22px;
  font-weight: 500;
  color: white;
}
.section-7__image {
  margin-top: 2rem;
  background-image: url("../img/map.png");
  background-position: 50% 50%;
  height: 600px;
}
.section-7__list {
  padding: 1rem;
  list-style: none;
  color: white;
  font-size: 14px;
}

.section-8 {
  margin-bottom: 5rem;
  text-align: right;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(2, [row] 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}
.grid-2__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-2__description {
  transition: all 0.3s;
  padding: 0.5rem 0;
  font-size: 13px;
  font-weight: 500;
  color: black;
  line-height: 120%;
  text-decoration: none;
  cursor: pointer;
}
.grid-2__description:hover {
  color: black;
  text-decoration: none;
}
.grid-2__block {
  padding: 2rem 0;
  text-align: left;
}
.grid-2__block_1 {
  grid-column: col 1/col 3;
  grid-row: row 1/row 3;
}
.grid-2__block_2 {
  grid-column: col 3/col 4;
  grid-row: row 1/row 2;
}
.grid-2__block_3 {
  grid-column: col 4/col 5;
  grid-row: row 1/row 2;
}
.grid-2__block_4 {
  grid-column: col 3/col 4;
  grid-row: row 2/row 3;
}
.grid-2__block_5 {
  grid-column: col 4/col 5;
  grid-row: row 2/row 3;
}

.footer {
  height: 150px;
  background-color: black;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.header__link {
  transition: all 0.3s;
  padding-left: 1rem;
}

.section-news1 {
  margin: 5rem auto;
  text-align: center;
}

.title-news {
  padding: 1.5rem;
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}

.section-news2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.section-news2__image {
  width: 50%;
  height: auto;
}
.section-news2__block {
  width: 50%;
  padding: 1rem;
}
.section-news2__subtitle {
  margin-bottom: 1rem;
  font-size: 34px;
  font-weight: 600;
  line-height: 120%;
}

.section-news3 {
  margin-bottom: 5rem;
}
.section-news3__image {
  width: 80%;
  padding: 1.5rem;
}

.block-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  top: 40px;
  left: -25px;
}

.block-image {
  text-align: center;
  background-color: #F3F3F3;
  width: 45%;
}

.header__link {
  margin-right: 2rem;
}

.news-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section-news6 {
  padding: 3rem;
  text-align: center;
}
.section-news6__block {
  text-align: left;
}

.product {
  padding: 1rem 0;
}
.product-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}
.product-width {
  position: relative;
  bottom: 60px;
  width: 30%;
}
.product__block {
  width: 50%;
  text-align: center;
}
.product__block_2 {
  width: 170px;
  height: 170px;
  padding: 1rem;
  background-color: #F1F1F1;
  text-align: center;
}
.product__block_3 {
  width: 240px;
  height: 340px;
  padding: 1.5rem 0;
  background-color: #F1F1F1;
  text-align: center;
}
.product__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__image_1 {
  padding: 3rem;
}
.product__description_1 {
  font-size: 14px;
  font-weight: 400;
  color: #989898;
}
.product__description_2 {
  font-size: 27px;
  font-weight: 500;
}
.product__description_3 {
  font-size: 18px;
  font-weight: 600;
}
.product__price {
  padding: 1.5rem;
  border: 2px solid #9A9A9A;
  border-radius: 10px;
}
.product__link {
  width: 100%;
}
.product-image {
  max-width: 100%;
  max-height: 100%;
}

.link-hover:hover {
  color: #F3F3F3;
}

.section-product__block {
  width: 200px;
}
.section-product .section-news2 {
  justify-content: flex-start;
  padding: 2rem 0;
}

.block-product {
  width: 240px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.catalog__description {
  display: inline-block;
  margin-left: 6rem;
  font-size: 15px;
  font-weight: 500;
}

.section-news2__subtitle {
  margin: 3rem 0;
  text-align: center;
}

.filter {
  margin-right: 1.5rem;
}
.filter-block {
  margin-bottom: 2rem;
}
.filter-block__description {
  margin-left: 0.5rem;
  text-decoration: none;
  color: #989898;
}
.filter-block__subtitle {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 15px;
  font-weight: 400;
}
.filter-block__margin {
  margin-bottom: 0.5rem;
}

.block-product {
  margin-right: 0.5rem;
}

.align {
  position: relative;
  left: 75px;
}

.select {
  display: inline-block;
  margin-right: 6rem;
}

.filter__block {
  display: none;
}

#price {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 1.5rem;
  width: 150px;
  height: 5px;
  border-radius: 10px;
  background: #F1F1F1;
}
#price::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #787878;
  border: 1px solid #787878;
}

.section-order {
  margin-top: 4rem;
}
.section-order__subtitle {
  margin-bottom: 2rem;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.filter-width {
  width: 50%;
}

.clock {
  margin: 1.5rem auto;
  height: 500px;
}
.clock__image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.clock-product {
  max-height: 80%;
}
.clock__description {
  margin-left: 0;
  font-weight: 700;
  text-decoration: none !important;
  color: black;
}

#checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  border: 1px solid black;
}
#checkbox:checked::after {
  content: "✔";
  margin: 0 auto;
  color: black;
}

@keyframes link {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .lists {
    display: block;
    margin-top: 1rem;
    padding: 0 1.5rem;
    position: absolute;
    left: 0;
    top: 140px;
    z-index: 2;
    background-color: #F1F1F1;
  }
  .list {
    display: block;
    margin: 0.5rem 0;
  }
  .link {
    font-size: 12px;
  }
  .menu {
    display: block;
    position: relative;
    bottom: 30px;
    width: 40px;
    height: 40px;
  }
  #menuList {
    overflow: hidden;
    transition: 0.6s;
  }
  .filter {
    position: absolute;
    width: 30%;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 10px;
    background-color: rgb(221, 220, 220);
  }
  .filter__block {
    display: block;
  }
  .filter__subtitle {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #787878;
  }
  .filter-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .filter-block {
    margin-top: 0.5rem;
  }
  #filter {
    overflow: hidden;
    transition: 0.6s;
  }
  .header {
    display: none;
  }
  .header__link {
    padding-left: 0;
  }
  .footer {
    height: 100%;
  }
  .footer-block1,
  .footer .mg-1 {
    display: block;
    margin-top: 1rem;
  }
  .navbar {
    display: inline-block;
    margin-bottom: 2rem;
    padding-left: 0;
  }
  .navbar__link {
    padding-left: 0;
  }
  .block2 {
    padding: 0;
  }
  .slider-block__title {
    position: relative;
    left: 0;
    bottom: 150px;
    width: 500px;
    padding-left: 1rem;
    font-size: 27px;
    color: white;
  }
  .slider-block__link {
    position: relative;
    left: 100px;
    bottom: 140px;
    width: 150px;
    height: 35px;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    font-size: 15px;
  }
  .slider-block__2, .slider-block__5 {
    margin-bottom: 2rem;
  }
  .block-2 {
    flex-direction: column;
  }
  .swiper-scrollbar {
    display: none;
  }
  .section-3__block {
    display: block;
  }
  .block-5 {
    flex-direction: column;
  }
  .button-prev,
  .button-next {
    display: none;
  }
  .section-5 {
    margin-bottom: 5rem;
  }
  .section-5__description {
    display: none;
  }
  .grid__description_2 {
    display: none;
  }
  .grid-2__description {
    font-size: 10px;
  }
  .catalog {
    position: relative;
    flex-direction: column;
  }
  .catalog__description {
    visibility: hidden;
  }
  .catalog .section-news2 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .catalog .section-news2__subtitle {
    margin: 0;
  }
  .catalog .block-product {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  .catalog .product__block_3 {
    width: 500px;
  }
  .catalog .product__block_3 .block-5__subtitle {
    display: block;
  }
  .catalog .section-4__description {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    font-size: 15px;
  }
  .catalog .select {
    display: block;
    text-align: right;
    cursor: pointer;
  }
  .section-news2__subtitle {
    font-size: 27px;
  }
  .section-news2__block .section-4__description {
    font-size: 18px;
  }
  .section-news2 .block-img {
    display: none;
  }
  .news-6 {
    justify-content: space-around;
  }
  .section-news6__block {
    padding: 0.5rem 0;
  }
  .section-product__block {
    margin-left: 1rem;
  }
  .section-product .m-2 {
    margin-left: 1rem;
  }
  .product__price {
    margin-bottom: 1rem;
  }
  .price {
    display: inline-block;
    width: 250px;
    text-align: center;
  }
  .recommend {
    justify-content: space-evenly;
  }
  .recommend-title {
    text-align: center;
  }
  .recommend-block {
    display: none;
  }
  .clock-title {
    text-align: center;
  }
  .clock-product {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .lists {
    display: block;
    margin-top: 1.5rem;
    padding: 0 1.5rem;
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 2;
    background-color: #F3F3F3;
  }
  .list {
    display: block;
    margin: 0.5rem 0;
  }
  .link {
    font-size: 12px;
  }
  .menu {
    position: relative;
    bottom: 55px;
    display: block;
    width: 35px;
    height: 35px;
  }
  #menuList {
    overflow: hidden;
    transition: 0.6s;
  }
  .filter {
    position: absolute;
    width: 30%;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 10px;
    background-color: rgb(221, 220, 220);
  }
  .filter__block {
    display: block;
  }
  .filter__subtitle {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #787878;
  }
  .filter-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .filter-block {
    margin-top: 0.5rem;
  }
  #filter {
    overflow: hidden;
    transition: 0.6s;
  }
  .title {
    font-size: 22px;
  }
  .header {
    display: none;
  }
  .header__link {
    padding-left: 0;
  }
  .footer {
    height: 100%;
  }
  .footer-block1,
  .footer .mg-1 {
    display: block;
    margin-top: 1rem;
  }
  .navbar {
    display: inline-block;
    margin-bottom: 2rem;
    padding-left: 0;
  }
  .navbar__link {
    padding-left: 0;
  }
  .slider-block__title {
    position: relative;
    left: 0;
    bottom: 150px;
    width: 470px;
    padding-left: 1rem;
    font-size: 22px;
    color: white;
  }
  .slider-block__link {
    position: relative;
    left: 100px;
    bottom: 140px;
    width: 130px;
    height: 35px;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    font-size: 13px;
  }
  .slider-block__2, .slider-block__5 {
    margin-bottom: 2rem;
  }
  .block-2 {
    flex-direction: column;
  }
  .swiper-scrollbar {
    display: none;
  }
  .section-3 {
    margin-bottom: 6rem;
  }
  .section-3__block {
    display: block;
    padding: 0;
  }
  .block-5 {
    flex-direction: column;
  }
  .button-prev,
  .button-next {
    display: none;
  }
  .section-5__description {
    display: none;
  }
  .grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .grid-block {
    width: 50%;
    height: auto;
  }
  .grid-2__description {
    font-size: 10px;
  }
  .catalog {
    flex-direction: column;
  }
  .catalog-subtitle {
    margin: 1rem;
  }
  .catalog__btn {
    margin: 2rem;
  }
  .catalog__description {
    visibility: hidden;
  }
  .catalog .section-news2 {
    flex-direction: column;
    margin: 0 auto;
  }
  .catalog .section-news2__subtitle {
    margin: 0;
  }
  .catalog .block-product {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }
  .catalog .product__block_3 {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .catalog .product__block_3 .block-5__subtitle {
    display: block;
  }
  .catalog .section-4__description {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    font-size: 15px;
  }
  .catalog .select {
    display: block;
    text-align: right;
    cursor: pointer;
  }
  .title-news {
    font-size: 27px;
  }
  .section-news2 {
    margin-bottom: 2rem;
  }
  .section-news2__subtitle {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 22px;
    text-align: left;
  }
  .section-news2__image {
    padding-left: 1rem;
  }
  .section-news2__block .section-4__description {
    padding-left: 0;
    font-size: 18px;
  }
  .section-news2 .block-img {
    display: none;
  }
  .news-6 {
    justify-content: space-around;
  }
  .section-news6__block {
    padding: 0.5rem 0;
  }
  .section-product__block {
    margin-left: 1rem;
  }
  .section-product__block .section-4__description {
    padding-left: 0;
  }
  .section-product .m-2 {
    margin-left: 1rem;
  }
  .product {
    margin-bottom: 0;
    padding: 0.5rem 0;
  }
  .product__description_2 {
    font-size: 22px;
  }
  .product__price {
    margin-bottom: 1rem;
  }
  .product-lists {
    display: block;
    padding: 1rem 0;
  }
  .product__image_1 {
    height: 120px;
    padding: 1rem;
    border: 2px solid #F1F1F1;
  }
  .product-width {
    width: 100%;
    margin-top: 2rem;
    position: static;
  }
  .product__block_3 {
    width: 100%;
    margin: 0 auto;
  }
  .product__block_3 .block-5__subtitle {
    display: block;
  }
  .price {
    display: inline-block;
    width: 250px;
    text-align: center;
  }
  .recommend {
    display: block;
    margin: 0 auto;
  }
  .recommend .block-product {
    width: 70%;
    margin: 2rem auto;
  }
  .recommend-title {
    margin-top: 0;
    font-size: 22px;
    text-align: center;
  }
  .recommend-block {
    display: none;
  }
  .clock-title {
    text-align: center;
  }
  .clock-product {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .lists {
    display: block;
    margin-top: 1.5rem;
    padding: 0 1.5rem;
    position: absolute;
    left: 0;
    top: 125px;
    z-index: 2;
    background-color: #F3F3F3;
  }
  .list {
    display: block;
    margin: 0.5rem 0;
  }
  .link {
    font-size: 10px;
  }
  .menu {
    position: relative;
    bottom: 55px;
    display: block;
    width: 30px;
    height: 30px;
  }
  #menuList {
    overflow: hidden;
    transition: 0.6s;
  }
  .filter {
    position: absolute;
    width: 50%;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 10px;
    background-color: rgb(221, 220, 220);
  }
  .filter__block {
    display: block;
  }
  .filter__subtitle {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #787878;
  }
  .filter-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .filter-block {
    margin-top: 0.5rem;
  }
  #filter {
    overflow: hidden;
    transition: 0.6s;
  }
  .title {
    font-size: 20px;
  }
  .header {
    display: none;
  }
  .header__link {
    padding-left: 0;
  }
  .footer {
    height: 100%;
  }
  .footer-block1,
  .footer .mg-1 {
    display: block;
    margin-top: 1rem;
  }
  .navbar {
    display: inline-block;
    margin-bottom: 2rem;
    padding-left: 0;
  }
  .navbar__link {
    padding-left: 0;
  }
  .slider-block__title {
    position: relative;
    left: -35px;
    bottom: 150px;
    width: 470px;
    padding-left: 1rem;
    font-size: 18px;
    color: white;
  }
  .slider-block__link {
    position: relative;
    left: 140px;
    bottom: 130px;
    width: 130px;
    height: 35px;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    font-size: 13px;
  }
  .slider-block__2, .slider-block__5 {
    margin-bottom: 2rem;
  }
  .block-2 {
    flex-direction: column;
  }
  .swiper-scrollbar {
    display: none;
  }
  .section-3 {
    margin-bottom: 6rem;
  }
  .section-3__block {
    display: block;
    padding: 0;
  }
  .block-5 {
    flex-direction: column;
  }
  .button-prev,
  .button-next {
    display: none;
  }
  .section-5__description {
    display: none;
  }
  .grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .grid-block {
    width: 60%;
    height: auto;
    margin: 1rem 0;
  }
  .section-7__block {
    left: 20px;
    width: 80%;
    height: 80%;
    text-align: center;
  }
  .section-7__subtitle {
    font-size: 18px;
  }
  .grid-2__description {
    font-size: 8px;
  }
  .catalog {
    flex-direction: column;
  }
  .catalog-subtitle {
    margin: 1rem;
  }
  .catalog__btn {
    display: block;
    margin: 4rem auto 2rem;
  }
  .catalog__description {
    visibility: hidden;
  }
  .catalog .section-news2 {
    display: block;
  }
  .catalog .section-news2__subtitle {
    margin: 0;
  }
  .catalog .block-product {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
  }
  .catalog .product__block {
    margin: 0;
  }
  .catalog .product__block_3 {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .catalog .product__block_3 .block-5__subtitle {
    display: block;
  }
  .catalog .section-4__description {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    font-size: 15px;
  }
  .catalog .select {
    display: block;
    width: 100%;
    margin: 1rem auto;
    cursor: pointer;
  }
  .pagination {
    display: none;
  }
  .title-news {
    font-size: 22px;
  }
  .section-news1 {
    margin: 0 auto;
  }
  .section-news2 {
    display: block;
    margin-bottom: 1rem;
  }
  .section-news2__subtitle {
    margin: 0 auto;
    font-size: 22px;
  }
  .section-news2__image {
    width: 100%;
    padding: 0 1rem;
  }
  .section-news2__block {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .section-news2__block .section-4__description {
    padding-left: 0;
    font-size: 18px;
  }
  .section-news2 .block-img {
    display: none;
  }
  .news-6 {
    justify-content: space-around;
  }
  .section-news6__block {
    padding: 0.5rem 0;
  }
  .section-product {
    text-align: center;
  }
  .section-product .m-2 {
    margin-top: 1.5rem;
  }
  .section-product .products {
    margin: 0 auto;
    text-align: center;
  }
  .section-product__block {
    width: 100%;
    margin: 1rem auto 3rem;
  }
  .section-product__block .section-4__description {
    padding-left: 0;
  }
  .section-product .m-2 {
    margin-left: 1rem;
  }
  .product {
    margin-bottom: 0;
    padding: 0.5rem 0;
    text-align: center;
  }
  .product__description_2 {
    font-size: 20px;
  }
  .product__description_3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .product__description_4 {
    text-align: left;
  }
  .product__price {
    margin-bottom: 1rem;
  }
  .product-lists {
    display: block;
    padding: 1rem 0;
    text-align: left;
  }
  .product__image_1 {
    height: 120px;
    padding: 1rem;
    border: 2px solid #F1F1F1;
  }
  .product-width {
    width: 100%;
    margin-top: 2rem;
    position: static;
  }
  .product__block {
    width: 80%;
    margin: 1rem auto;
  }
  .product__block_2 {
    width: 90%;
    margin: 0 auto;
  }
  .product__block_3 {
    width: 100%;
    margin: 0 auto;
  }
  .product__block_3 .block-5__subtitle {
    display: block;
  }
  .price {
    display: inline-block;
    width: 250px;
    text-align: center;
  }
  .recommend {
    display: block;
    margin: 0 auto;
  }
  .recommend .block-product {
    width: 70%;
    margin: 2rem auto;
  }
  .recommend-title {
    margin-top: 0;
    font-size: 22px;
    text-align: center;
  }
  .recommend-block {
    display: none;
  }
  .clock-title {
    text-align: center;
  }
  .clock-product {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}/*# sourceMappingURL=main.css.map */